.not-found {
    text-align: center;
}

.not-found__error {
    font-size: 140px;
    font-weight: 400;
    margin: 250px auto 0;
    padding: 0;
}

.not-found__text {
    font-size: 16px;
    margin: 0 auto 184px;
    padding: 0;
}

.not-found__button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}