@keyframes textBlink {
    0% {
        color: rgba(34, 34, 34, 1);
    }

    50% {
        color: rgba(34, 34, 34, .5);
    }

    100% {
        color: rgba(34, 34, 34, 1);
    }
}

.account__header {
    margin: 74px auto;
    text-align: center;
    font-size: 24px;
    line-height: 121%;
    font-weight: 500;
}

.account__form {
    max-width: 410px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 320px;
}

.account__form-label {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.account__form-label:nth-last-of-type(1) {
    border: none;
}

.account__form-input {
    text-align: right;
    margin: auto 0 auto auto;
    padding: 0;
    flex-grow: 1;
    border: none;
    animation: textBlink .5s linear infinite;
}

.account__form-input:focus {
    background-color: #e8e8e8;
    outline: none;
}

.account__form-input-noedit {
    text-align: right;
    padding: 0;
    margin: auto 0 auto auto;
}

.account__form-submit {
    border: none;
    background-color: transparent;
    margin: auto auto 16px;
    cursor: pointer;
    padding: 0;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: .3s;
}

.account__form-submit:hover {
    background-size: 100% 1px;
    transition: .3s;
}

.account__signout {
    border: none;
    background-color: transparent;
    margin: 0 auto 70px;
    cursor: pointer;
    color: rgb(255, 0, 0);
    padding: 0;
    
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: .3s;
}

.account__signout:hover {
    background-size: 100% 1px;
    transition: .3s;
}