.header__navmenu {
    display: flex;
    margin-right: auto;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
}

.header__navmenu-ul {
    align-self: center;
    padding: 0;
    margin-left: 44px;
}

.header__navmenu-el {
    list-style-type: none;
    display: inline-block;
    padding-right: 16px;
}

.header__navmenu {
    font-weight: 500;
}

.header__navmenu-el-link {
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

.header__navmenu-el-link:hover {
    background-size: 100% 1px;
    transition: .3s;
}

@media screen and (max-width: 600px) {
    .header__navmenu {
        display: none;
    }
}