.authform {
    width: 396px;
    margin: 52px auto 0;
    min-height: 630px;
    display: flex;
    flex-direction: column;
}

.authform__header {
    margin: 22px 0 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 121%;
}

.authform__submit {
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    margin: auto 0 0;
    font-size: 14px;
    line-height: 121%;
    padding: 13px 0 15px;
    transition: .3s;
    cursor: pointer;
}

.authform__submit:hover {
    opacity: .7;
    transition: .3s;
}

.authform__bottomtext {
    display: block;
    text-align: center;
    padding: 0;
    margin: 16px 0 70px;
    font-size: 14px;
    line-height: 121%;
    color: #A0A0A0;
}

.authform__bottomtext-link {
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

.authform__bottomtext-link:hover {
    background-size: 100% 1px;
    transition: .3s;
}