.account-menu {
    align-self: center;
    margin-left: auto;
}

.account-button {
    background-color: #F9F9F9;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    align-self: center;
    padding: 8px 20px;
    transition: .3s;
}

.account-button:hover {
    background-color: rgb(31, 31, 31);
    color: #F9F9F9;
    transition: .3s;
}

.login-button {
    background-color: #000;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    align-self: center;
    padding: 8px 20px;
    margin-left: 10px;
    transition: .3s;
    box-sizing: border-box;
}

.login-button:hover {
    opacity: .7;
    transition: .3s;
}

.register-button {
    margin: 0 20px 0 0;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    align-self: center;
    transition: .3s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

.register-button:hover {
    background-size: 100% 1px;
    transition: .3s;
}

@media screen and (max-width: 850px) {
    .account-button {
        display: none;
    }
}