@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");

.body {
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}